body{
    margin: 0;
    font-family: "Protest Guerrilla", serif;
}

.container{
    display: flex;
    min-height: 100vh;
}

.menu {
    background-color: #85CEF0;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

.menu button{
    width: 50%;
    background-color: #E2E5E7;
    border: 0;
    border-radius: 5%;
    padding: 2% 35%;
    margin: 5%;
    cursor: pointer;
    text-align:center;
}

.oculto{
    display: none;
}

.menu2{
    background-color: #F8F8FF;
    justify-content: center;
    padding: 80px;
    margin: 80px;
    width: 40%;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 04px 8px 5px rgb(146, 139, 136);
    font-size: 12px;
}

.recuadroTexto{
    margin-top: 470px;
    

}